body {
  background-color: #1A1A1D;
  font-size: 120px;
  font-family: "Poppins", sans-serif;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #88C0D0;
}

#divider {
  background-color: white;
  height: 5px;
  width: 100%;
  margin: 27px 0;
  animation: popup 25000ms ease-out;
}

h6, #aboutme {
  margin-top: 2px;
  font-size: 25px;
  width: 100%;
}

p {
  font-size: 25px;
  margin-top: 10px;
  color: #D2FDFF
}

#ninjarextitle {
  text-align: center;
  color: #FFFFFF;
  font-size: 84px ;
  animation: popup 2500ms ease-out;
  position: relative;
  bottom: 20px;
}

#aboutme {
  width: 100%;
  max-width: 400px; /* overrides 100%, if the screen is smaller than 1200px then the width is actually 100% */
  padding: 60px 40px;
  box-sizing: border-box; /* changes how sizing behaves, so that 100% includes the additional padding and doesn't overflow */
  background-color: #272727;
  border-radius: 7px; /* makes the corners a bit rounded */
  animation: popup 2200ms ease-out;
  margin-right: 65%;
  box-shadow: 20% black;
}

@keyframes popup {
  from { /* from is the same as 0%, other keyframes can be defined such as "to" or a percentage of the entire animation */
    transform: scale(0.92);
    opacity: 0.7;
  }
}

#aboutmeu
{
  color: #FFFFFF
}

#card {
  width: 100%;
  max-width: 400px; /* overrides 100%, if the screen is smaller than 1200px then the width is actually 100% */
  padding: 60px 40px;
  box-sizing: border-box; /* changes how sizing behaves, so that 100% includes the additional padding and doesn't overflow */
  background-color: #272727;
  border-radius: 7px; /* makes the corners a bit rounded */
  animation: popup 2200ms ease-out;
  margin-right: 55%;
  box-shadow: 20% black;
  position: relative;
  left: 28%;
  bottom: 377px;
}


@media (max-width: 800px) { /* if the browser window is less than 800px wide... */
  #card-container {
    grid-template-columns: 1fr; /* display only one column */
  }
}

#webbox {
  outline:none ;
  width: 290px;
  height: 52px;
  color: #FFFFFF;
}

